<h1>Adding Images</h1>
Make sure to turn up your computer's volume so you can hear the instructions. Close this window/tab to return to the authoring page.
<%= embed_help_video('vpb-images').html_safe %>
