<h1>Linking to Video Sections</h1>
<p>Make sure to turn up your computer's volume so you can hear the instructions. Close this window/tab to return to the authoring page.</p>
<%= embed_help_video('vpb-linking').html_safe %>
