<h1>Adding Text Commentary</h1>
<p>Make sure to turn up your computer's volume so you can hear the instructions. Close this window/tab to return to the authoring page.</p>
<p>TODO: replace with video.js player for http://kaltura-video.concord.org/index.php/kwidget/cache_st/1360092004/wid/_100/uiconf_id/1727880/entry_id/0_fstwfnsa</p>
