*.log
*.sqlite3
vendor/cache/*
config/database.yml
config/kaltura.yml
config/aws.yml
config/google-analytics.yml
.bundle/*
public/system/*
.DS_Store
public/.DS_Store
tmp/*
.rvmrc
bin/*
public/assets
.rspec
