.env
log/*
tmp/*
config/database.yml
config/aws.yml
config/google-analytics.yml
config/paperclip.yml
public/system/*
.DS_Store
public/.DS_Store
.rvmrc
bin/*
public/assets
.rspec

# to allow for docker compose overrides
