files:
  /opt/elasticbeanstalk/hooks/appdeploy/pre/10a_before_asset_precompile.sh:
    mode: "00755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd /var/app/ondeck/config
      cp aws.yml.example aws.yml
      cp database.yml.example database.yml
      cp google-analytics.yml.example google-analytics.yml
      cp paperclip.yml.example paperclip.yml
