<div class="untabbed-content">
  <h1>Unauthorized</h1>
  <p style="margin-top: 2em; font-size: 1.5em">
    Sorry but this application is not available for your <%= params[:realm] %> (#<%= params[:realm_id] %>).
  </p>
  <p style="margin-top: 1em; font-size: 1.25em">
    <%= render "request_access" %>
  </p>
</p>
