<div id="home_left_container">
  <h3>Capture Your Classroom with VideoPaper Builder<span class="reg">&reg;</span></h3>
  <p>Turn video from your classroom into great advice from colleagues.</p>
  <ul>
    <li>Reflect on the teaching situations you encounter every day.</li>
    <li>Keep your information safe in a private, secure environment.</li>
    <li>Add closed caption dialogue and notes to make your videos crystal clear</li>
    <li>Share your tips and get great advice from colleagues</li>
    <li>Become part of a growing professional community</li>
  </ul>
</div>
<div id="home_banner">
  <ul id="slideshow">
    <li><img src="/images/home_banner1.jpg" alt="" />
      <div class="banner_details">
        <h3>Capture classroom interactions with video</h3>
        <p>Teachers and researchers provide textual commentaries about classroom interactions using VideoPaper Builder<span class="reg">&reg;</span>.</p>
      </div>
    </li>
    <li><img src="/images/home_banner2.jpg" alt="" />
      <div class="banner_details">
        <h3>Focus on meaningful learning situations</h3>
        <p>Teachers can easily designate and share important learning moments within their video using VideoPaper Builder<span class="reg">&reg;</span>.</p>
      </div>
    </li>
    <li><img src="/images/home_banner3.jpg" alt="" />
      <div class="banner_details">
        <h3>Observe student group work</h3>
        <p>Teachers and researchers can select specific portions of the video to discuss powerful pedagogical methods that enhance student learning using VideoPaper Builder<span class="reg">&reg;</span>.</p>
      </div>
    </li>
    <li><img src="/images/home_banner4.jpg" alt="" />
      <div class="banner_details">
        <h3>Explore the use of innovative technology </h3>
        <p>Teachers can start a conversation about the role of technology tools in the classroom using VideoPaper Builder<span class="reg">&reg;</span>.</p>
      </div>
    </li>
  </ul>
  <div class="banner_content_box"></div>
</div>