<div id="home_left_container">
  <h3>VideoPaper introduction
    statement — spans a
    few lines.</h3>
  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
  <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
  <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
</div>
<div id="home_banner">
  <ul id="slideshow">
    <li><img src="/images/home_banner1.jpg" alt="" />
      <div class="banner_details">
        <h3>Title Talking About VPB's Awesome Tech</h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.  It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
      </div>
    </li>
    <li><img src="/images/home_banner2.jpg" alt="" />
      <div class="banner_details">
        <h3>Title Talking About VPB's Awesome Tech 2</h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.  It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
      </div>
    </li>
    <li><img src="/images/home_banner1.jpg" alt="" />
      <div class="banner_details">
        <h3>Title Talking About VPB's Awesome Tech 3</h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.  It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
      </div>
    </li>
    <li><img src="/images/home_banner2.jpg" alt="" />
      <div class="banner_details">
        <h3>Title Talking About VPB's Awesome Tech 4</h3>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.  It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
      </div>
    </li>
  </ul>
  <div class="banner_content_box"></div>
</div>