<div id="home_left_container">
  <h3>VideoPaper Builder<span class="reg">&reg;</span> &mdash; Capture Your Classroom's Context</h3>
  <p>VideoPaper Builder<span class="reg">&reg;</span> allows teachers to capture the context of their own classrooms. This type of educational support provides an opportunity for teachers to learn from and interact with video, based on situations they face with their own students on a daily basis. Teachers can focus on certain pedagogical strategies that were helpful and powerful learning situations or provide options for future opportunities that will better impact their teaching. Due to the secure nature of VideoPapers, teachers will be able to display dialogue surrounding their videos. This type of personal narrative and sharing prompts discussion and interactions from their colleagues, building a strong professional community of learners.</p>
</div>
<div id="home_banner">
  <ul id="slideshow">
    <li><img src="/images/home_banner1.jpg" alt="" />
      <div class="banner_details">
        <h3>Capture classroom interactions with video</h3>
        <p>Teachers and researchers provide textual commentaries about classroom interactions using VideoPaper Builder<span class="reg">&reg;</span>.</p>
      </div>
    </li>
    <li><img src="/images/home_banner2.jpg" alt="" />
      <div class="banner_details">
        <h3>Focus on meaningful learning situations</h3>
        <p>Teachers can easily designate and share important learning moments within their video using VideoPaper Builder<span class="reg">&reg;</span>.</p>
      </div>
    </li>
    <li><img src="/images/home_banner3.jpg" alt="" />
      <div class="banner_details">
        <h3>Observe student group work</h3>
        <p>Teachers and researchers can select specific portions of the video to discuss powerful pedagogical methods that enhance student learning using VideoPaper Builder<span class="reg">&reg;</span>.</p>
      </div>
    </li>
    <li><img src="/images/home_banner4.jpg" alt="" />
      <div class="banner_details">
        <h3>Explore the use of innovative technology </h3>
        <p>Teachers can start a conversation about the role of technology tools in the classroom using VideoPaper Builder<span class="reg">&reg;</span>.</p>
      </div>
    </li>
  </ul>
  <div class="banner_content_box"></div>
</div>