<div class="tabs">
  <ul>
    <li class="active"><a href="#"><span>Authoring</span></a></li>
    <li><a href="#"><span>My&nbsp;VideoPapers</span></a></li>
    <li><a href="#"><span>Shared&nbsp;With&nbsp;Me</span></a></li>
  </ul>
</div>
