<% unless @video.nil? %>
  <% if @video.private? && !owner? %>
    This video is private.
  <% else %>
    <% if !@video.processed? %>
      <div id="transcoding_status"></div>
      <script>
        $j.ajax("<%= transcoding_status_video_paper_url :format => :js %>")
      </script>
    <% end %>
    <div id="video_player" style="display: <%= @video.processed ? 'block' : 'none' %>">TODO</div>
    <script>
      VPB.show_video_player = function () {
        $j("#transcoding_status").hide();
        $j("#video_player").show();
      };
    </script>
  <% end %>
<% end %>
