<% unless @video.nil? %>
  <% if @video.processed? %>
    <% if @video.private? && !owner? %>
      This video is private.
    <% else %>
      <div id="modal_video_player_container" style="display: none"></div>
      <script>
        VPB.modalVideoPlayer.show("<%= @video.generate_signed_url() %>", "<%= @video.generate_thumbnail_url() %>", <%= @video.duration %>);
      </script>
      <noscript>Please enable Javascript.</noscript>
    <% end %>
  <% end %>
<% end %>
