<% unless @video.nil? %>
  <% if @video.private? && !owner? %>
    This video is private.
  <% else %>
    <% if !@video.processed? %>
      <div id="transcoding_status"></div>
      <script>
        $j.ajax("<%= transcoding_status_video_paper_path(:format => :js) %>")
      </script>
    <% end %>
    <% video_url = @video.generate_signed_url() %>
    <% thumbnail_url = @video.generate_thumbnail_url() %>
    <div id="video_player_container" style="display: none"></div>
    <script>
      <% if @video.processed && video_url %>
        VPB.videoPlayer.show("<%= video_url %>", "<%= thumbnail_url %>");
      <% end %>
    </script>
    <noscript>Please enable Javascript.</noscript>
  <% end %>
<% end %>
