<div class="span-24 last">
  <% @video_papers.each do |video_paper| %>
  <div class="span-6">
    <p><%= get_video_paper_thumbnail(video_paper)%></p>
    <p><%=link_to video_paper.title, video_paper_path(video_paper)%><br/>
    <%=video_paper.user.name%><br/>
    <%= video_paper.format_created_date %></p>
  </div>
  <% end %>
</div>