/*
 * =require fancybox
 * =require jquery.ui.slider
 * =require jquery.ui.tabs
 * =require facebox
 * =require s3_direct_upload_progress_bars
 * =require video-js-5.4.6
 */

/* override default jquery.ui styles */
.ui-widget {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 1.1em;
}

.ui-tabs .ui-tabs-nav li a {
  padding: 0em 0em;
}

.ui-tabs .ui-tabs-panel {
  padding: 0em 0em;
}
/* end of jquery.ui changes*/

.disabled_button_msg {
  color: #CF0000;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  min-height: 100px;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#selected-title{color:#333; font-size:16px;}

#inner_container .content_details .left_details .creat_video_details .create_video #progressBar{padding-left:56px;}

/* Duration Selector Modal */
#duration_slider {width:320px;margin:5px 0 0 10px;position:relative;}
#duration_slider_wrapper {height:15px;}
#duration_buttons {margin: 5px 0 10px 0;}
#duration_buttons button {width: 60px; }
#position_slider {width:200px;margin:5px 10px 0 10px;position:relative;display:inline-block}
#modal_video_player_container {position:relative;}
.modal_video_wrapper {padding: 10px;}
.modal_video_wrapper p {margin: 5px 0;}
.modal_video_wrapper .close{float:left; width:34px; height:34px; position:absolute; right:-15px; top:-15px; z-index:99999999; background:url(/images/close_btn.png) no-repeat 0 0;padding:0;}
button.edit-button {background:none;border:none;margin:0;padding:0;}

/* Tabs */
#tabs.ui-corner-all {}
#tabs.ui-widget-content,#tabs .ui-widget-header {background:none;border:none;}
#tabs .tab {width:auto;}
#tabs .ui-tabs-nav {width:100%;}
#tabs .ui-tabs-nav .ui-state-default{border:none;}

.ui-tabs-panel {text-align:center;height:300px;overflow-y:scroll;width:100%;}
.ui-tabs-selected {font-weight:bold;}
.ui-tabs-hide {display:none;}
.ui-tabs-nav {width:100%;clear:both;display:block;}
.ui-tabs-nav .tab {list-style:none;float:left;width:22%;text-align:center;}


.inner_blue_tab .top_tab{float:left; width:662px;}
.inner_blue_tab .top_tab ul{float:left; width:100%; list-style:none;}
.inner_blue_tab .top_tab ul li{float:left; font-size:11px; line-height:14px; color:#6da8a4; font-weight:bold; text-transform:uppercase; margin-right:5px;}
.inner_blue_tab .top_tab ul li a{float:left;color:#6da8a4; text-decoration:none; background:url(/images/inner_blue_tab_l_c.gif) no-repeat 0 0; padding-left:10px;}
.inner_blue_tab .top_tab ul li a span{float:left; background:url(/images/inner_blue_tab_r_c.gif) no-repeat right 0; padding:7px 10px 0 0; cursor:pointer; height:19px}
.inner_blue_tab .top_tab ul li a:hover {background-position:0 -26px; color:#fff}
.inner_blue_tab .top_tab ul li a:hover span{background-position:right -26px; color:#fff}
.inner_blue_tab .top_tab ul li.active a{background-position:0 -26px; color:#fff}
.inner_blue_tab .top_tab ul li.active a span{background-position:right -26px; color:#fff}

.inner_blue_tab .ui-widget-content { color: #333333; }

.section-editor {display:none;}
.section-content {overflow:auto;height:290px;padding:10px;}
.section-editor, .section-content{background: #eeeeee url(/images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;}
.edit-section-toolbar{border-top:1px solid #a0d1ce;}
.edit-section-toolbar button, .edit-section-toolbar input {margin-top:5px;}
.inner_blue_tab .tab_content {border:1px solid #a0d1ce;}


.tab_content.edit .section-content {display:none;}
.tab_content.edit .section-editor {display:block;}
.tab_content.view .section-content {display:block;}
.tab_content.view .section-editor {display:none;}

body,div,ul,li,h1,h2,h3,h4,h5,h6,form,fieldset,p{padding:0; margin:0; font-weight:normal; text-align:left}
body{font:12px/16px Arial, Helvetica, sans-serif; color:#5f5f5f; background:#fffef9 url(../images/body_bg.gif) repeat-x 0 0; height:100%}
img,fieldset{border:none; margin:0; padding:0;}
.left{float:left;}
.right{float:right; width:auto;}
.full{float:left; width:100%;}
.curv{float:left; width:100%}
.curv img{float:left}
span.clear{clear:both;}
span.reg{font-size: .5em; vertical-align: super;}

a:focus{outline:none}
input:focus{outline:none;}

h1,h2,h3{font-family: Georgia, "Times New Roman", times, serif;}
h1{color: #ee864e; font-size: 24px; margin-bottom: 6px;}
h2{color: #878787; font-size: 1.833em; margin-bottom: 1em;}

#wrapper{float:left; width:100%;}
#main{width:947px; margin:0 auto;}
#cover{float:left; width:947px;}

#header{float:left; width:947px;}
#header .logout{float:left; width:595px; padding-top:50px;}
#header .logout ul{float:right; width:auto; list-style:none;}
#header .logout ul li{float:left; width:auto; padding-left:10px;}
#header .logout ul li a.logout_btn{float:left; width:60px; background:url(../images/logout_btn.gif) no-repeat 0 0; color:#fff; text-decoration:none; height:18px; text-align:center; padding:6px 0 0; text-transform:uppercase; font:bold 10px Arial, Helvetica, sans-serif;}
#welcome_user {font:18px/24px Georgia, 'Times New Roman', Times, serif; color:#85b150;}
#change_password {text-align:right;}


#menu{float:right; width:auto; background:url(../images/menu_bg.gif) repeat-x 0 0;}
#menu .left_curve{float:left; width:auto; background:url(../images/menu_left_bg.gif) no-repeat 0 0;}
#menu .right_curve{float:left; width:auto; background:url(../images/menu_right_bg.gif) no-repeat right 0; height:58px;}
#menu ul{float:left; width:auto; list-style:none; padding:20px 20px 0 22px}
#menu ul li{float:left; width:auto; background:url(../images/menu_sept.gif) no-repeat right 3px; padding:0 8px}
#menu ul li.last{background:none;}
#menu ul li a{color:#868686; text-decoration:none}
#menu ul li a:hover{text-decoration:underline}
#menu ul li.active a{color:#000;}
#menu ul li.active a span{color:#000;}

#header .logo_login{float:left; width:100%; padding:8px 0 13px}

#header .logo{float:left; margin-top: -8px; width:350px;}
#header .logo img{border: none; float:right;}

#header .logo_login .login{float:right; width:410px; margin-top:10px}
#header .logo_login .login form{float:left; width:100%;}
#header .logo_login .login fieldset{float:left; width:100%;}
#header .logo_login .login label{float:left; width:100%; font:18px/20px Georgia, 'Times New Roman', Times, serif; color:#85b150; padding-bottom:5px}
#header .logo_login .login label.register{float:left; width:99%; color:#63a4a6; text-align:right; font:12px/14px Arial, Helvetica, sans-serif; padding-top:4px}
#header .logo_login .login label.register a{float:right; width:auto; color:#63a4a6; background:url(../images/orange_arrow.gif) no-repeat right 5px; text-decoration:none; padding:0 10px 0 0}
#header .logo_login .login label.register a:hover{text-decoration:underline;}
#header .logo_login .login .input_bg{float:left; width:178px; background:url(../images/login_bg.gif) no-repeat 0 0; position: relative;}
#header .logo_login .login input{float:left; width:154px; padding:3px 10px 6px; margin:0; background:none; border:none; color:#868686; font-size:12px;}
#header .logo_login .login input.search_btn{float:left; width:12px; padding:0; margin:5px 0 0; background:none; border:none; height:20px}
#header .logo_login .login input.login_btn{float:left; width:49px; background:url(../images/login_btn.gif) no-repeat 0 0; border:none; color:#fff; text-decoration:none; height:auto; text-align:center; padding:6px 0 4px; text-transform:uppercase; font:bold 10px/14px Arial, Helvetica, sans-serif; margin:0; cursor:pointer}
#header .logo_login .login p#forgot{font-size: .9em; margin-right: 57px; text-align: right;}
#header .logo_login .login p#forgot a{color: #ccc; text-decoration: none;}
#header .logo_login .login label#emaillabel, #header .logo_login .login label#passwordlabel{color: #aaa; font: 1em arial, helvetica, sans-serif; left: 7px; position: absolute; top: 5px;}

#body_container{float:left; width:947px; min-height:429px; height:auto!important; height:429px;margin-top:35px;}

#home_left_container{float:left; width:337px; padding-left:10px; margin:0; display:inline; border-right:1px solid #fee9aa}
#home_left_container h3{float:left; width:290px; font:23px/25px Georgia, 'Times New Roman', Times, serif; color:#85b150;}
#home_left_container li{clear: both; float:left; font-size:13px; line-height:17px; margin-top: 8px; width: 285px;}
#home_left_container p{clear: both; float:left; width:285px; margin-top:23px; font-size:13px; line-height:21px}
#home_left_container p a{color:#5f5f5f; text-decoration:underline}
#home_left_container p a:hover{text-decoration:none}
#home_left_container ul{clear: both; float: left; margin: 10px 0 0 13px !important;}

#home_banner{float:right; width:559px; position:relative; background:url(../images/home_slider_bg.gif) no-repeat 0 0; height:391px;padding:4px 4px 0 3px}
#home_banner ul#slideshow{float:left; width:559px; list-style-type:none !important; overflow:hidden; height:391px;}
#home_banner ul#slideshow li{float:left; width:559px; list-style-type:none !important; background:none!important; height:391px;}
#home_banner ul#slideshow li img{float:left;}

#home_banner .banner_details{float:left; position:absolute!important; top:310px!important; left:23px!important; width:510px; background: none;}
#home_banner .banner_details h3{float:left; width:100%; color:#469896; font-size:15px; line-height:17px; font-weight:bold; text-transform:uppercase}
#home_banner .banner_details h3 a{color:#469896; text-decoration:none}
#home_banner .banner_details h3 a:hover{text-decoration:underline}
#home_banner .banner_details p{float:left; width:100%; color:#5f5f5f; line-height:17px; margin-top:5px}

#home_banner .paging{float:left; width:80px; position:absolute!important; left:15px!important; top:20px!important;  background:url(../images/paging_back_bg.png) no-repeat 0 0; height:29px; z-index:99999}
#home_banner .paging ul{float:left; width:auto!important; list-style:none; height:auto!important; padding:6px 0 0 14px;}
#home_banner .paging ul li{float:left; width:8px!important; margin:0 6px 0 0; padding:0; font-size:2px;}
#home_banner .paging ul li a{float:left; width:8px; background:url(../images/paging_bg.gif) no-repeat 0 0; height:7px;}
#home_banner .paging ul li.active a{background-position:0 -7px}
#home_banner .paging ul li.active a:hover{background-position:0 -7px}

#inner_container{float:left; width:947px; padding-top:28px;}
#inner_container .tabs{float:left; width:947px; height:37px; margin-bottom:-3px; position:relative;}
#inner_container .tabs ul{float:left; width:100%; list-style:none;}
#inner_container .tabs ul li{float:left; font-size:15px; line-height:17px; color:#469896; font-weight:bold;}
#inner_container .tabs ul li a{float:left;color:#469896; text-decoration:none; background:url(../images/tab_left.gif) no-repeat 0 -37px; padding-left:12px;}
#inner_container .tabs ul li a span{float:left; background:url(../images/tab_right.gif) no-repeat right -37px; padding:12px 25px 8px 13px; cursor:pointer}
#inner_container .tabs ul li a:hover{background-position:0 0}
#inner_container .tabs ul li a:hover span{background-position:right 0}
#inner_container .tabs ul li.active a{background-position:0 0}
#inner_container .tabs ul li.active a span{background-position:right 0}

#inner_container .admin_panel p{width:100%;}
#inner_container .admin_panel  {float:left; margin-top:10px;padding-left:15px;}
#inner_container .admin_panel  form{float:left; width:100%;}
#inner_container .admin_panel  fieldset{float:left; width:100%;}
#inner_container .admin_panel  label{float:left; width:100%;color:#5f5f5f;}
#inner_container .admin_panel  .input_bg{float:left; width:178px; background:url(../images/login_bg.gif) no-repeat 0 0;}
#inner_container .admin_panel  .checkbox_bg{float:left; width:100%;margin-top:10px;margin-bottom:5px; padding-left: 20px; position: relative; text-align: left;}
#inner_container .admin_panel .checkbox_bg input#user_remember_me{float: none !important; left: -70px !important; margin: 0; padding: 0; position: absolute !important; top: 0 !important;}
#inner_container .admin_panel .checkbox_bg label{float: none !important; margin: 0; padding: 0;}
#inner_container .admin_panel  .button{width:178px;}
#inner_container .admin_panel  input{float:left; width:154px; padding:3px 10px 6px; margin:0; background:none; border:none; color:#868686; font-size:12px;}
#inner_container .admin_panel  input.login_btn{float:left; width:49px; background:url(../images/login_btn.gif) no-repeat 0 0; border:none; color:#fff; text-decoration:none; height:auto; text-align:center; padding:6px 0 4px; text-transform:uppercase; font:bold 10px/14px Arial, Helvetica, sans-serif; margin:0;margin-bottom:10px;margin-top:10px; cursor:pointer}

#inner_container .content_details{float:left;width:947px; background:url(../images/common_bg.gif) repeat-y 0 0;}
#inner_container .bg_change{float:left;width:947px; background:url(../images/change_bg.gif) repeat-y 0 0;}
#inner_container .content_details .top_curv{float:left;width:947px; background:url(../images/common_top_curv_tabs.gif) no-repeat 0 0;}
#inner_container .content_details .top_curv.notabs{float:left;width:947px; background:url(../images/common_top_curv.gif) no-repeat 0 0;}
#inner_container .content_details .bottom_curv{float:left;margin-left: 1px; width:947px; background:url(../images/common_bottom_curv.gif) no-repeat 0  bottom; padding:25px 0;}


#inner_container .upload_video{float:left; width:947px; padding-bottom:15px;}
#inner_container .upload_video .left_details{float:left; width:700px; padding:0 0 0 25px;}
#inner_container .upload_video .left_details .creat_video_details{float:left; width:694px;}
#inner_container .upload_video .left_details .creat_video_details h2{width:98%; font:23px/25px Georgia, 'Times New Roman', Times, serif; color:#f69208; padding:0 0 20px 7px;}
#inner_container .upload_video .left_details .creat_video_details .create_video{width:694px;}
#inner_container .upload_video .left_details .creat_video_details h3{display:block; font:18px/20px Georgia, 'Times New Roman', Times, serif; color:#85b150; padding:15px 0 15px 15px;}
#inner_container .upload_video .left_details .creat_video_details h3.bulet2{background:url(../images/inner_bulet2.gif) no-repeat 0 0;}
#inner_container .upload_video .left_details .creat_video_details h3.bulet3{background:url(../images/inner_bulet3.gif) no-repeat 0 0;}
#inner_container .upload_video .left_details .creat_video_details .create_video .file_select{width:360px; padding-left:15px;}
#inner_container .upload_video .left_details .creat_video_details .create_video .file_select a.browse_select_btn{display:inline-block; width:121px; height:24px; background:url(../images/browse_select_btn.gif) no-repeat 0 0; color:#fff; text-decoration:none; text-align:center; text-transform:uppercase; font-size:10px; line-height:23px; font-weight:bold}
#inner_container .upload_video .left_details .creat_video_details .create_video .file_select p{width:auto; font-size:12px;line-height:14px; color:#5f5f5f; padding:4px 0 0 12px;}
#inner_container .upload_video .left_details .creat_video_details .vedio_select{float:left; width:250px;}
#inner_container .upload_video .left_details .creat_video_details .vedio_select p{float:left; width:70px; font-size:12px;line-height:14px; color:#5f5f5f;}
#inner_container .upload_video .left_details .creat_video_details .vedio_select p.space{padding-left:50px;}
#inner_container .upload_video .left_details .creat_video_details .vedio_select img{float:left;}
#inner_container .upload_video .left_details .creat_video_details .textarea_box{float:left; width:694px; padding-top:30px;}
#inner_container .upload_video .left_details .creat_video_details .upload_preamble{width:610px; margin-bottom: 10px}
#inner_container .upload_video .left_details .creat_video_details .note{margin: 20px 0;}
#inner_container .upload_video .left_details .creat_video_details .textarea_content{width:610px; padding-left:55px}
#inner_container .upload_video .left_details .creat_video_details .textarea_content label{width:100%; font-size:12px;line-height:14px; color:#5f5f5f; margin-bottom:5px;}
#inner_container .upload_video .left_details .creat_video_details .textarea_content label img{padding-right:10px;}
#inner_container .upload_video .left_details .creat_video_details .textarea_content label.space{padding-top:10px;}
#inner_container .upload_video .left_details .creat_video_details .textarea_content a.thumbnail_btn{float:left; width:121px; background:url(../images/browse_select_btn.gif) no-repeat 0 0; color:#fff; text-decoration:none; height:20px; text-align:center; padding:5px 0; margin-right:8px; text-transform:uppercase; font-size:10px; line-height:14px; font-weight:bold}
#inner_container .upload_video .left_details .creat_video_details .textarea_content textarea{float:left; width:612px; height:110px; border:1px solid #dad8d8; margin-bottom:5px; display:inline; font:12px/14px Arial, Helvetica, sans-serif}
#inner_container .upload_video .left_details .creat_video_details .languge{float:left; width:170px; padding-top:26px;}
#inner_container .upload_video .left_details .creat_video_details .languge select{float:left; width:170px;}
#inner_container .upload_video .left_details .creat_video_details .button{width:auto;margin-top:15px;margin-left:16px; margin-right:26px}
#inner_container .upload_video .left_details .creat_video_details .button input.upload_btn{width:100px; background:url(../images/upload_btn.gif) no-repeat 0 0; border:none; color:#fff; text-decoration:none; height:auto; text-align:center; padding:5px 0; text-transform:uppercase; font:bold 10px/14px Arial, Helvetica, sans-serif; margin:0 8px 0 0; cursor:pointer}
#inner_container .upload_video .left_details .creat_video_details .button input.upload_btn[disabled=disabled]{background:url(../images/upload_btn_disabled.gif); cursor:default}
#inner_container .upload_video .left_details .creat_video_details .button input.cancel{float:left; width:60px; background:url(../images/logout_btn.gif) no-repeat 0 0; border:none; color:#fff; text-decoration:none; height:auto; text-align:center; padding:5px 0; text-transform:uppercase; font:bold 10px/14px Arial, Helvetica, sans-serif; margin:0; cursor:pointer}
#inner_container .upload_video .right_details{float:left; width:200px; padding-left:18px;}
#inner_container .upload_video .right_details .status_box{float:left; width:200px;}
#inner_container .upload_video .right_details .status_box ul{float:left; width:100%;list-style:none; padding-bottom:20px}
#inner_container .upload_video .right_details .status_box ul li{float:left; width:100%; padding:5px 0 0;}
#inner_container .upload_video .right_details .status_box ul li a{color:#5f5f5f; text-decoration:none}
#inner_container .upload_video .right_details .status_box ul li a:hover{text-decoration:underline}
#inner_container .upload_video .right_details .status_box h3{float:left; width:100%; font-size:13px; line-height:15px;color:#469896; font-weight:bold; text-transform:uppercase;}
#inner_container .upload_video .right_details .status_box p{float:left; width:100%; font-size:12px;line-height:14px; color:#5f5f5f;}



#inner_container .create_screen{float:left; width:947px; padding-bottom:15px;}
#inner_container .create_screen .left_details{float:left; width:700px; padding:0 0 0 25px;}
#inner_container .create_screen .left_details .video_row{float:left; width:694px; padding-bottom:10px}
#inner_container .create_screen .left_details .last{padding:0}
#inner_container .create_screen .left_details .video_row h3{display:block; font:18px/20px Georgia, 'Times New Roman', Times, serif; color:#85b150; background:url(../images/inner_bulet1.gif) no-repeat 0 0; padding:15px 0 15px 55px;}
#inner_container .create_screen .left_details .video_row h3.bulet2{background:url(../images/inner_bulet2.gif) no-repeat 0 0;}
#inner_container .create_screen .left_details .video_row .nane{float:left; width:620px; padding:0 0 0 55px}
#inner_container .create_screen .left_details .video_row label{float:left; width:45px; color:#5f5f5f;}
#inner_container .create_screen .left_details .video_row .input_bg{float:left; width:224px; background:url(../images/name_input_bg.gif) no-repeat 0 0}
#inner_container .create_screen .left_details .video_row .input_bg input{float:left; width:204px; padding:3px 10px 6px; margin:0; background:none; border:none; color:#868686; font-size:12px;}
#inner_container .create_screen .left_details .video_row ul{float:left; width:620px; padding:0 0 0 55px; list-style:none;}
#inner_container .create_screen .left_details .video_row ul li.col1{float:left; width:294px;}
#inner_container .create_screen .left_details .video_row ul li.col2{float:left; width:270px; border-left:1px solid #fee9aa; padding-left:46px; position:relative}
#inner_container .create_screen .left_details .video_row ul li img{float:left;}
#inner_container .create_screen .left_details .video_row ul li h4{float:left; width:100%; color:#469896; font-size:13px; font-weight:bold; padding-bottom:10px}
#inner_container .create_screen .left_details .video_row ul li h4 a{color:#469896; text-decoration:none}
#inner_container .create_screen .left_details .video_row ul li h4 a:hover{text-decoration:underline}
#inner_container .create_screen .left_details .video_row ul li p{float:left; width:270px; color:#5f5f5f; padding-top:10px; line-height:17px}
#inner_container .create_screen .left_details .video_row ul li span{float:left; width:auto; color:#5f5f5f; background:#fff; padding-bottom:15px; position:absolute; top:0; left:-5px; z-index:999;}
#inner_container .create_screen .left_details .video_row input.upload_btn{float:left; width:100px; background:url(../images/upload_btn.gif) no-repeat 0 0; border:none; color:#fff; text-decoration:none; height:auto; text-align:center; padding:5px 0; text-transform:uppercase; font:bold 10px/14px Arial, Helvetica, sans-serif; margin:0 8px 0 0; cursor:pointer}
#inner_container .create_screen .left_details .video_row p.upload_btn{float:left; width:100px; padding:0;}
#inner_container .create_screen .left_details .video_row p.upload_btn a{float:left; width:100px; background:url(../images/upload_btn.gif) no-repeat 0 0; border:none; color:#fff; text-decoration:none; height:auto; text-align:center; padding:5px 0; text-transform:uppercase; font:bold 10px/14px Arial, Helvetica, sans-serif; margin:12px 0 0; cursor:pointer}
#inner_container .create_screen .right_details{float:left; width:200px; padding-left:18px;}
#inner_container .create_screen .right_details .content{float:left; width:180px;}
#inner_container .create_screen .right_details .content h3{float:left; width:100%; color:#868686; font:16px/17px Georgia, 'Times New Roman', Times, serif;}
#inner_container .create_screen .right_details .content p{float:left; width:100%; font-size:12px;line-height:17px; color:#5f5f5f; padding:7px 0}
#inner_container .create_screen .right_details .sidebar-list{clear:both;list-style:none;padding-top:5px;}
#inner_container .create_screen .right_details #help-links{color:#999;}
#inner_container .create_screen .right_details #help-links li{margin-bottom:10px;}



#inner_container .classroom_notes{float:left; width:947px; padding-bottom:15px;}
#inner_container .classroom_notes .left_details{float:left; width:700px; padding:0 0 0 25px;}
#inner_container .classroom_notes .left_details h2{float:left; width:98%; font:23px/25px Georgia, 'Times New Roman', Times, serif; color:#f69208; padding:0 0 20px 7px;}
#inner_container .classroom_notes .left_details h3{float:left; width:98%; font:18px/20px Georgia, 'Times New Roman', Times, serif; color:#85b150; padding:0 0 15px 7px;}
#inner_container .classroom_notes .inner_blue_tab{float:left; width:662px; padding-left:10px}
#inner_container .classroom_notes .inner_blue_tab .top_tab{float:left; width:662px;}
#inner_container .classroom_notes .inner_blue_tab .top_tab ul{float:left; width:100%; list-style:none;}
#inner_container .classroom_notes .inner_blue_tab .top_tab ul li{float:left; font-size:11px; line-height:14px; color:#6da8a4; font-weight:bold; text-transform:uppercase; margin-right:5px;}
#inner_container .classroom_notes .inner_blue_tab .top_tab ul li a{float:left;color:#6da8a4; text-decoration:none; background:url(../images/inner_blue_tab_l_c.gif) no-repeat 0 0; padding-left:10px;}
#inner_container .classroom_notes .inner_blue_tab .top_tab ul li a span{float:left; background:url(../images/inner_blue_tab_r_c.gif) no-repeat right 0; padding:7px 10px 0 0; cursor:pointer; height:19px}
#inner_container .classroom_notes .inner_blue_tab .top_tab ul li a:hover{background-position:0 -26px; color:#fff}
#inner_container .classroom_notes .inner_blue_tab .top_tab ul li a:hover span{background-position:right -26px; color:#fff}
#inner_container .classroom_notes .inner_blue_tab .top_tab ul li.active a{background-position:0 -26px; color:#fff}
#inner_container .classroom_notes .inner_blue_tab .top_tab ul li.active a span{background-position:right -26px; color:#fff}
#inner_container .classroom_notes .inner_blue_tab .tab_content{float:left; width:624px; background:#fffae6; border:1px solid #a0d1ce; padding:17px 18px 16px}
#inner_container .classroom_notes .inner_blue_tab .tab_content .into_content{float:left; width:100%;}
#inner_container .classroom_notes .inner_blue_tab .tab_content .into_content img{float:left}
#inner_container .classroom_notes .inner_blue_tab .tab_content .into_content h4{float:left; width:100%; color:#469896; font-size:13px; font-weight:bold; padding:14px 0 8px}
#inner_container .classroom_notes .inner_blue_tab .tab_content .into_content label{float:left; width:auto; color:#5f5f5f; font-size:12px; padding:4px 0 0 8px;}
#inner_container .classroom_notes .inner_blue_tab .tab_content .into_content .row{float:left; width:100%; position:relative}
#inner_container .classroom_notes .inner_blue_tab .tab_content .into_content input.launch_video_btn{float:left; width:100px; background:url(../images/upload_btn.gif) no-repeat 0 0; border:none; color:#fff; text-decoration:none; height:auto; text-align:center; padding:5px 0; text-transform:uppercase; font:bold 10px/14px Arial, Helvetica, sans-serif; margin:0; cursor:pointer}
#inner_container .classroom_notes .inner_blue_tab .tab_content .into_content .row span.tooltrip{float:left; width:188px; background:url(../images/tooltrip_bg.png) no-repeat 0 0; height:29px; color:#868686; font-size:11px; line-height:14px; padding:10px 12px 15px 20px; position:absolute; right:170px; top:30px}
#inner_container .classroom_notes .inner_blue_tab .tab_content .into_content .row span.tooltrip b{float:left; width:160px; color:#868686; font-size:11px; font-weight:normal}
#inner_container .classroom_notes .inner_blue_tab .tab_content .into_content .row span.tooltrip b a{color:#469896; text-decoration:none}
#inner_container .classroom_notes .inner_blue_tab .tab_content .into_content .row span.tooltrip b a:hover{ text-decoration:underline}
#inner_container .classroom_notes .inner_blue_tab .tab_content .into_content .row span.tooltrip img{float:left; margin-right:5px}
#inner_container .classroom_notes .button{float:right; width:auto; margin:28px 28px 0 0; display:inline}
#inner_container .classroom_notes .button input.save_btn{float:left; width:49px; background:url(../images/login_btn.gif) no-repeat 0 0; border:none; color:#fff; text-decoration:none; height:auto; text-align:center; padding:6px 0 4px; text-transform:uppercase; font:bold 10px/14px Arial, Helvetica, sans-serif; margin:0 8px 0 0; cursor:pointer}
#inner_container .classroom_notes .button input.upload_btn{float:left; width:100px; background:url(../images/upload_btn.gif) no-repeat 0 0; border:none; color:#fff; text-decoration:none; height:auto; text-align:center; padding:5px 0; text-transform:uppercase; font:bold 10px/14px Arial, Helvetica, sans-serif; margin:0 8px 0 0; cursor:pointer}
#inner_container .classroom_notes .button input.cancel{float:left; width:60px; background:url(../images/logout_btn.gif) no-repeat 0 0; border:none; color:#fff; text-decoration:none; height:auto; text-align:center; padding:5px 0; text-transform:uppercase; font:bold 10px/14px Arial, Helvetica, sans-serif; margin:0; cursor:pointer}
#inner_container .classroom_notes .right_details{float:left; width:200px; padding-left:18px;}
#inner_container .classroom_notes .right_details .status_box{float:left; width:200px;}
#inner_container .classroom_notes .right_details .status_box ul{float:left; width:100%;list-style:none; padding-bottom:20px}
#inner_container .classroom_notes .right_details .status_box ul li{float:left; width:100%; padding:5px 0 0;}
#inner_container .classroom_notes .right_details .status_box ul li a{color:#5f5f5f; text-decoration:none}
#inner_container .classroom_notes .right_details .status_box ul li a:hover{text-decoration:underline}
#inner_container .classroom_notes .right_details .status_box h3{float:left; width:100%; font-size:13px;line-height:15px;color:#469896; font-weight:bold; text-transform:uppercase;}
#inner_container .classroom_notes .right_details .status_box p{float:left; width:100%; font-size:12px;line-height:14px; color:#5f5f5f;}


#inner_container .my_video_papers{float:left; width:947px;}
#inner_container .my_video_papers .no-video{width:120px;height:73px;background:url(/images/novideoyet-small.jpg) no-repeat 0 0;}
#inner_container .my_video_papers .no-thumbnail{width:120px;height:73px;}
#inner_container .my_video_papers .video_row{float:left; width:884px; padding:18px 32px 7px 31px}
#inner_container .my_video_papers .video_row .photo{float:left; width:138px;}
#inner_container .my_video_papers .video_row .photo object{float:left; width: 120px; height: 73px; border: 0;}
#inner_container .my_video_papers .video_row .details{float:left; width:740px;}
#inner_container .my_video_papers .video_row .details h3{float:left; width:100%; color:#868686; font:15px/17px Georgia, 'Times New Roman', Times, serif;}
#inner_container .my_video_papers .video_row .details h3 a{color:#868686; text-decoration:none}
#inner_container .my_video_papers .video_row .details h3 a:hover{text-decoration:underline}
#inner_container .my_video_papers .video_row .details p{float:left; width:100%; color:#5f5f5f; font:13px/15px Arial, Helvetica, sans-serif; padding-top:8px}
#inner_container .my_video_papers .video_row .details p strong{color:#469896;}
#inner_container .my_video_papers .video_row .details ul{float:left; width:auto; list-style:none; padding-top:10px}
#inner_container .my_video_papers .video_row .details ul li.view_edit_btn{float:left; width:auto; background:url(../images/blue_btn_left_bg.gif) no-repeat 0 0; padding-left:4px; text-transform:uppercase; font:bold 10px/14px Arial, Helvetica, sans-serif; margin-right:5px}
#inner_container .my_video_papers .video_row .details ul li.view_edit_btn span{float:left; width:auto; background:url(../images/blue_btn_right_bg.gif) no-repeat right 0; padding-right:4px;}
#inner_container .my_video_papers .video_row .details ul li.view_edit_btn span a{float:left; width:auto; color:#fff; text-decoration:none; padding:3px 5px 4px; background:url(../images/blue_btn_sept.gif) no-repeat right 0}
#inner_container .my_video_papers .video_row .details ul li.view_edit_btn span a.last{background:none;}
#inner_container .my_video_papers .video_row .details ul li.unpublish_btn{float:left; width:auto; background:url(../images/unpublish_left_btn.gif) no-repeat 0 0; padding-left:4px; text-transform:uppercase; font:bold 10px/14px Arial, Helvetica, sans-serif; margin-right:5px}
#inner_container .my_video_papers .video_row .details ul li.unpublish_btn span{float:left; width:auto; background:url(../images/unpublish_right_btn.gif) no-repeat right 0; padding-right:4px;}
#inner_container .my_video_papers .video_row .details ul li.unpublish_btn span a{float:left; width:auto; color:#fff; text-decoration:none; padding:3px 3px 4px;}
#inner_container .my_video_papers .video_row .details ul li span a:hover{text-decoration:underline}
#inner_container .my_video_papers .sort{float:left; width:884px; padding:0 32px 0 31px}
#inner_container .my_video_papers .sort p{float:right; width:auto; border-bottom:1px solid #fee9aa; padding-bottom:8px}
#inner_container .my_video_papers .sort p img{float:left; margin-top:1px}
#inner_container .my_video_papers .sort p strong{float:left; width:auto; font:12px/14px Arial, Helvetica, sans-serif; color:#5f5f5f;}
#inner_container .my_video_papers .sort p span{float:left; width:8px; margin:-2px 0 0 4px; display:inline}
#inner_container .my_video_papers .sort p span.margin{margin:-2px 18px 0 8px; display:inline;}
#inner_container .my_video_papers .paging{float:left; width:884px; padding:15px 32px 0 31px}
#inner_container .my_video_papers .paging ul{float:right; width:auto; list-style:none; border-top:1px solid #fee9aa;}
#inner_container .my_video_papers .paging ul li{float:left; width:auto; font:12px/14px Arial, Helvetica, sans-serif; color:#5f5f5f; padding:8px 5px 0}
#inner_container .my_video_papers .paging ul li a{color:#469896; text-decoration:none}
#inner_container .my_video_papers .paging ul li a:hover{text-decoration:underline}
#inner_container .my_video_papers .paging ul li.active a{color:#5f5f5f; text-decoration:none}
#inner_container .my_video_papers .paging ul li.active a:hover{color:#5f5f5f; text-decoration:none}
#inner_container .my_video_papers .paging ul li img{vertical-align:middle;}


#inner_container .view_video{float:left; width:884px; padding:0 32px 15px 31px}
#inner_container .view_video .no-video{width:187;height:114px;background:url(/images/novideoyet-big.jpg) no-repeat 0 0;margin-top:80px;margin-left:80px;}

#inner_container .view_video h2{float:left; width:100%; font:23px/25px Georgia, 'Times New Roman', Times, serif; color:#f69208; padding-bottom:20px}
#inner_container .view_video h2 img{float:none; margin-left:5px; display:inline; vertical-align:text-top}
#inner_container .view_video .produced_content{float:left; width:365px;}
#inner_container .view_video .produced_content p{float:left; width:100%; color:#469896; font-size:13px; font-weight:bold; padding-bottom:5px}
#inner_container .view_video .produced_content p span{color:#5f5f5f; font-weight:normal}
#inner_container .view_video .produced_content .video{float:left; width:100%; margin-top:12px}
#inner_container .view_video .produced_content .video img{float:left;}
#inner_container .view_video .inner_blue_tab{float:right; width:493px;}
#inner_container .view_video .inner_blue_tab .top_tab{float:left; width:593px;}
#inner_container .view_video .inner_blue_tab .top_tab ul{float:left; width:100%; list-style:none;}
#inner_container .view_video .inner_blue_tab .top_tab ul li{float:left; font-size:11px; line-height:14px; color:#6da8a4; font-weight:bold; text-transform:uppercase; margin-right:5px;}
#inner_container .view_video .inner_blue_tab .top_tab ul li a{float:left;color:#6da8a4; text-decoration:none; background:url(/images/inner_blue_tab_l_c.gif) no-repeat 0 0; padding-left:10px;}
#inner_container .view_video .inner_blue_tab .top_tab ul li a span{float:left; background:url(/images/inner_blue_tab_r_c.gif) no-repeat right 0; padding:7px 10px 0 0px; cursor:pointer; height:19px;text-align:left;}
#inner_container .view_video .inner_blue_tab .top_tab ul li a:hover{background-position:0 -26px; color:#fff}
#inner_container .view_video .inner_blue_tab .top_tab ul li a:hover span{background-position:right -26px; color:#fff}
#inner_container .view_video .inner_blue_tab .top_tab ul li.active a{background-position:0 -26px; color:#fff;}
#inner_container .view_video .inner_blue_tab .top_tab ul li.active a span{background-position:right -26px; color:#fff;}
#inner_container .view_video .inner_blue_tab .top_tab ul li.ui-tabs-active a {background-position:0 -26px; color:#fff;}
#inner_container .view_video .inner_blue_tab .top_tab ul li.ui-tabs-active span {background-position:right -26px; color:#fff;}
#inner_container .view_video .inner_blue_tab .top_tab ul li a .edit-button {display:none;}
#inner_container .view_video .inner_blue_tab .top_tab ul li.ui-state-active a .edit-button {display:inline-block;position:relative;vertical-align:middle;margin-left:0px;padding-left:5px;}
#inner_container .view_video .inner_blue_tab .top_tab ul li.ui-state-active a {width:100%;}
#inner_container .view_video .inner_blue_tab .top_tab ul li.ui-tabs-active {background-position:0 -26px; color:#fff;}

#inner_container .view_video .inner_blue_tab .tab_content{float:left;width:500px; height:305px; overflow:hidden;}
#inner_container .view_video .inner_blue_tab .tab_content .section-editor {height:300px;}
#inner_container .view_video .inner_blue_tab .tab_content .into_content{float:left; width:100%;padding:0;margin:0;}
#inner_container .view_video .inner_blue_tab .tab_content .into_content p{float:left; width:100%; color:#5f5f5f; line-height:17px; margin-top:15px}

#inner_container .view_video p.upload_btn{float:left; width:100px; padding:0;}
#inner_container .view_video p.upload_btn a{float:left; width:100px; background:url(../images/upload_btn.gif) no-repeat 0 0; border:none; color:#fff; text-decoration:none; height:auto; text-align:center; padding:5px 0; text-transform:uppercase; font:bold 10px/14px Arial, Helvetica, sans-serif; margin:12px 0 0; cursor:pointer}


#inner_container .shared_with_me{float:left; width:947px; position:relative; padding-bottom:30px}
#inner_container .shared_with_me .video_list{float:left; width:884px; padding:21px 32px 0 31px}
#inner_container .shared_with_me .video_list ul{float:left; width:100%; list-style:none; background:url(../images/shared_with_me_sept.gif) repeat-y 0 0}
#inner_container .shared_with_me .video_list ul li{float:left; width:187px; margin-right:45px; display:inline; padding:0 0 35px;}
#inner_container .shared_with_me .video_list ul li.last{margin-right:0;}
#inner_container .shared_with_me .video_list ul li img{float:left;}
#inner_container .shared_with_me .video_list ul li h3{float:left; width:100%; color:#469896; font-size:13px; font-weight:bold; margin-top:15px}
#inner_container .shared_with_me .no-video{width:120px;height:90px;background:url(/images/novideoyet-small.jpg) no-repeat 0 0;background-color:#a1a1a1;}

#inner_container .shared_with_me .video_list ul li h3 a{color:#469896; text-decoration:none}
#inner_container .shared_with_me .video_list ul li h3 a:hover{text-decoration:underline}
#inner_container .shared_with_me .video_list ul li p{float:left; width:100%; color:#868686; font-size:11px; text-align:right; margin-top:5px}

#inner_container .shared_with_me .sort{float:left; width:884px; padding:0 32px 0 31px}
#inner_container .shared_with_me .sort p{float:right; width:auto; border-bottom:1px solid #fee9aa; padding-bottom:8px}
#inner_container .shared_with_me .sort p img{float:left; margin-top:1px}
#inner_container .shared_with_me .sort p strong{float:left; width:auto; font:12px/14px Arial, Helvetica, sans-serif; color:#5f5f5f;}
#inner_container .shared_with_me .sort p span{float:left; width:8px; margin:-2px 0 0 4px; display:inline}
#inner_container .shared_with_me .sort p span.margin{margin:-2px 18px 0 8px; display:inline;}
#inner_container .shared_with_me .paging{float:left; width:884px; background:#fff; position:absolute; left:31px; bottom:20px;}
#inner_container .shared_with_me .paging ul{float:right; width:auto; list-style:none; border-top:1px solid #fee9aa; margin-top:20px; padding:0}
#inner_container .shared_with_me .paging ul li{float:left; width:auto; font:12px/14px Arial, Helvetica, sans-serif; color:#5f5f5f; padding:8px 5px 0; margin:0;}
#inner_container .shared_with_me .paging ul li a{color:#469896; text-decoration:none}
#inner_container .shared_with_me .paging ul li a:hover{text-decoration:underline}
#inner_container .shared_with_me .paging ul li.active a{color:#5f5f5f; text-decoration:none}
#inner_container .shared_with_me .paging ul li.active a:hover{color:#5f5f5f; text-decoration:none}
#inner_container .shared_with_me .paging ul li img{vertical-align:middle;}

#inner_container.full p,#inner_container.full li{line-height: 21px; margin-bottom: 1.5em;}
#inner_container.full ul{margin-left: 20px;}

#footer{float:left; width:100%; padding:60px 0 25px; background:url(../images/footer_bg.gif) repeat-x 0 0;}
#footer .footer_inner{width:947px; margin:0 auto;}
#footer .col1{float:left; width:175px; padding-left:10px}
#footer .col2{float:left; width:220px; padding-left:28px; border-left:1px solid #fbce5d}
#footer #cc-logo{float: right; height: 70px; width: 225px;}
#footer #cc-logo img{border: none;}
#footer h3{width:100%; font:17px/20px Georgia, 'Times New Roman', Times, serif; color:#85b150;}
#footer .col1 h3{margin-top: -6px;}
#footer ul{float:left; width:100%; list-style:none; margin-top:8px}
#footer ul li{float:left; width:100%;}
#footer ul li a{color:#868686; text-decoration:none}
#footer ul li a:hover{text-decoration:underline}

#my_video_papers_lightbox{float:left; width:361px; padding:20px 30px 0; position:relative;}
#my_video_papers_lightbox fieldset{float:left; width:100%; z-index:999999999;}
#my_video_papers_lightbox .close{float:left; width:34px; height:34px; position:absolute; right:-15px; top:-15px; z-index:99999999; background:url(../images/close_btn.png) no-repeat 0 0;}
#my_video_papers_lightbox .close img{float:left; width:34px; height:34px; z-index:99999999;}
#my_video_papers_lightbox h3{float:left; width:100%; color:#f69208; font:18px/20px Georgia, 'Times New Roman', Times, serif;}
#my_video_papers_lightbox h4{float:left; width:100%; color:#5f5f5f; font:12px/14px Arial, Helvetica, sans-serif; padding:15px 0 10px}
#my_video_papers_lightbox ul{float:left; width:359px; list-style:none; min-height:50px; overflow:auto; border:1px solid #fee9aa; border-bottom:none}
#my_video_papers_lightbox ul li{float:left; width:auto; display:block; border-bottom:1px solid #fee9aa; padding:7px 10px}
#my_video_papers_lightbox ul li h5{float:left; width:250px; color:#5f5f5f; font:12px/14px Arial, Helvetica, sans-serif;}
#my_video_papers_lightbox ul li p{float:left; width:250px; color:#868686; font:11px/14px Arial, Helvetica, sans-serif; padding-top:7px}
#my_video_papers_lightbox ul li p a{color:#868686; text-decoration:none}
#my_video_papers_lightbox ul li .unshare{background:url(/images/cross.gif) no-repeat 0 0;text-indent:-9999px;position:absolute;right:50px;width:18px;height:18px;text-indent:-9999px}
#my_video_papers_lightbox ul li p a:hover{text-decoration:underline}
#my_video_papers_lightbox ul li img{float:right;}
#my_video_papers_lightbox label{float:left; width:100%; color:#5f5f5f; font:12px/14px Arial, Helvetica, sans-serif; padding:20px 0 7px; margin:0}
#my_video_papers_lightbox .email_input_bg{float:left; width:251px; background:url(../images/email_input_bg.gif) no-repeat 0 0}
#my_video_papers_lightbox .email_input_bg input{float:left; width:241px; background:none; border:none; padding:3px 10px 3px; height:18px; color:#868686; font:12px/16px Arial, Helvetica, sans-serif; margin:0}
#my_video_papers_lightbox textarea{float:left; width:349px; height:50px; border:1px solid #dad8d8; color:#5f5f5f; font:12px/14px Arial, Helvetica, sans-serif; padding:3px 5px}
#my_video_papers_lightbox .row{float:left; width:100%;}
#my_video_papers_lightbox input.share{float:right; width:55px; background:url(../images/share_btn.gif) no-repeat 0 0; border:none; color:#fff; text-decoration:none; height:auto; text-align:center; padding:5px 0; text-transform:uppercase; font:bold 10px/14px Arial, Helvetica, sans-serif; margin:21px 0 0 7px; display:inline; cursor:pointer}
#my_video_papers_lightbox input.cancel{float:right; width:60px; background:url(../images/logout_btn.gif) no-repeat 0 0; border:none; color:#fff; text-decoration:none; height:auto; text-align:center; padding:5px 0; text-transform:uppercase; font:bold 10px/14px Arial, Helvetica, sans-serif; margin:21px 0 0 7px; display:inline; cursor:pointer}

#add_classroom_notes{float:left; width:361px; padding:26px 30px; position:relative;}
#add_classroom_notes form{float:left; width:100%; z-index:999999999}
#add_classroom_notes fieldset{float:left; width:100%;}
#add_classroom_notes .video{float:left; width:100%;}
#add_classroom_notes .video img{float:left;}
#add_classroom_notes .metter{float:left; width:100%; margin-top:7px}
#add_classroom_notes .metter img{float:left;}
#add_classroom_notes .close{float:left; width:34px; height:34px; position:absolute; right:-15px; top:-15px; z-index:99999999; background:url(../images/close_btn.png) no-repeat 0 0;}
#add_classroom_notes .close img{float:left; width:34px; height:34px;  z-index:99999999;}
#add_classroom_notes h3{float:left; width:100%; color:#f69208; font:18px/20px Georgia, 'Times New Roman', Times, serif;}
#add_classroom_notes h4{float:left; width:100%; color:#469896; font:bold 13px/15px Arial, Helvetica, sans-serif; padding:15px 0 10px}
#add_classroom_notes .row{float:left; width:100%; margin-top:20px;}
#add_classroom_notes .row .col1{float:left; width:225px}
#add_classroom_notes .row .col2{float:left; width:134px}
#add_classroom_notes label{float:left; width:100%; color:#5f5f5f; font:12px/14px Arial, Helvetica, sans-serif; padding:0 0 7px; margin:0}
#add_classroom_notes .time_input_bg{float:left; width:134px; background:url(../images/time_input_bg.gif) no-repeat 0 0}
#add_classroom_notes .time_input_bg input{float:left; width:114px; background:none; border:none; padding:3px 10px 3px; height:18px; color:#868686; font:12px/16px Arial, Helvetica, sans-serif; margin:0}
#add_classroom_notes input.save{float:right; width:95px; background:url(../images/save_btn.gif) no-repeat 0 0; border:none; color:#fff; text-decoration:none; height:auto; text-align:center; padding:5px 0; text-transform:uppercase; font:bold 10px/14px Arial, Helvetica, sans-serif; margin:0 0 0 7px; display:inline; cursor:pointer}
#add_classroom_notes input.discard{float:right; width:66px; background:url(../images/discard_btn.gif) no-repeat 0 0; border:none; color:#fff; text-decoration:none; height:auto; text-align:center; padding:5px 0; text-transform:uppercase; font:bold 10px/14px Arial, Helvetica, sans-serif; margin:0 0 0 7px; display:inline; cursor:pointer}

/* help video pages */
body.help {background:#fff;}
body.help #wrapper {text-align:center;}
body.help #wrapper h1 {margin:20px 0 10px;text-align:center;}
body.help #wrapper p {margin:10px 0 20px;text-align:center;}
body.help #video {background:#ccc;height:549px;margin:0 auto;padding:10px;width:853px;}

/* Notifications */
.jnotify-item
{
    height: auto;
    padding: 4px 4px 4px 4px;
    margin: 0 0 5px 0;
    display: block;
    position: relative;
}

.jnotify-item-close
{
    float: right;
    margin-left: 2px;
}
#messages .msg {position:absolute;left:99999px;}
#messages .ui-icon-circle-close {display:none;}
#messages .text {margin:0 auto;width:100%;position:relative;display:block;text-align:center;}

#inner_browser_not_supported {background-color: red; text-align: center; padding: 10px; font-weight: bold; color: #fff;}
#inner_browser_not_supported a { color: #fff; }
