/* wysihat*/
div.editor_toolbar a {
  float: left;
  width: 16px;
  height: 16px;
  margin: 5px;
  background-repeat: no-repeat; }
div.editor_toolbar span {
  display: none; }

.editor_toolbar .button {
  background-image: url('/images/icons/exclamation.png'); }
.editor_toolbar .bold {
  background-image: url('/images/icons/text_bold.png'); }
.editor_toolbar .italic {
  background-image: url('/images/icons/text_italic.png'); }
.editor_toolbar .underline {
  background-image: url('/images/icons/text_underline.png'); }
.editor_toolbar .strikethrough {
  background-image: url('/images/icons/text_strikethrough.png'); }
.editor_toolbar .justifyleft {
  background-image: url('/images/icons/text_align_left.png'); }
.editor_toolbar .justifycenter {
  background-image: url('/images/icons/text_align_center.png'); }
.editor_toolbar .justifyright {
  background-image: url('/images/icons/text_align_right.png'); }
.editor_toolbar .undo {
  background-image: url('/images/icons/arrow_undo.png'); }
.editor_toolbar .redo {
  background-image: url('/images/icons/arrow_redo.png'); }
.editor_toolbar .insertorderedlist {
  background-image: url('/images/icons/text_list_numbers.png'); }
.editor_toolbar .insertunorderedlist {
  background-image: url('/images/icons/text_list_bullets.png'); }
.editor_toolbar .link {
  background-image: url('/images/icons/link.png'); }
.editor_toolbar .image {
  background-image: url('/images/icons/image.png'); }
.editor_toolbar .html {
  background-image: url('/images/icons/page_code.png'); }
.editor_toolbar .h1 {
  background-image: url('/images/icons/text_heading_1.png'); }
.editor_toolbar .h2 {
  background-image: url('/images/icons/text_heading_2.png'); }
.editor_toolbar .h3 {
  background-image: url('/images/icons/text_heading_3.png'); }
.editor_toolbar .h4 {
  background-image: url('/images/icons/text_heading_4.png'); }
.editor_toolbar .h5 {
  background-image: url('/images/icons/text_heading_5.png'); }
.editor_toolbar .h6 {
  background-image: url('/images/icons/text_heading_6.png'); }
.editor_toolbar .p {
  background-image: url('/images/icons/cancel.png'); }
.editor_toolbar .paste {
  background-image: url('/images/icons/paste_word.png'); }
.editor_toolbar .videolink {
  background-image: url('/images/video_link_icon.png');
}

iframe.editor {
  border:0;
  height: 250px;
  width: 100%; 
}

#inner_container iframe.editor h1,
#inner_container iframe.editor h2,
#inner_container iframe.editor h3,
#inner_container iframe.editor p,
#inner_container iframe.editor div,
#inner_container iframe.editor ol,
#inner_container iframe.editor ul,
#inner_container iframe.editor span,
#inner_container iframe.editor strong,
{color:black;font-family:Times serif;clear:both;border:none;border-color:none;}

/* section content styles */
.section-content {
	font-weight:normal;
	font-size:1em;
}

.section-content ul,
.section-content ol {
	padding:2em;
	margin-top:1em;
	margin-bottom:1em;
	list-style-type:disc;
}
#inner_container .into_content .section-content p,
#inner_container .into_content .section-content h1,
#inner_container .into_content .section-content h2,
#inner_container .into_content .section-content h3,
#inner_container .section-content div,
#inner_container .section-content li,
#inner_container .section-content ul,
#inner_container .section-content ol,
#inner_container .section-content strong,
#inner_container .section-content span
{color:black;font-family:Times serif;clear:both;border:none;border-color:none;}

#inner_container .section-content h1,
#inner_container .section-content h1 span,
#inner_container .section-content h1 strong {font-size:32px;color:black;margin:.67em 0;}
#inner_container .section-content h2,
#inner_container .section-content h2 span,
#inner_container .section-content h2 strong {font-size:24px;margin:.83em 0;}
#inner_container .section-content h3,
#inner_container .section-content h3 span,
#inner_container .section-content h3 strong {font-size:19px;margin:1em 0;}

#inner_container .section-content a {color:#00E;text-decoration:underline;}

/* end wysihat */
