<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
<title>VideoPaperBuilder</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
</head>
<body class="help">
  <div id="wrapper">
    <%= yield%>
    <p id="close"></p>
  </div>

  <script type="text/javascript">
  $j(function() {
    $j('#close').html('<a href="#" onclick="window.close(); return false;">close this window</a>')
  });
  </script>
</body>
</html>
